.head {
  font-family: "Hanuman", sans-serif;
  background-color: #2a4f8a;
  color: #ffffff;
  font-size: 14px;
  font-weight: "bold";
  text-align: "center";
  justify-content: "center";
}

.column {
  border: none;
  font-family: "Hanuman", sans-serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding: 10px 2px;
}

.column:nth-of-type(odd) {
  background-color: #f3f4f6;
}

.column:hover {
  background-color: #d6d8db;
}
.column-no-data {
  font-family: "Hanuman", sans-serif;
  min-height: 8px;
  text-align: center;
  background-color: #f3f4f6;
}
