/* .sc-iHnPhB {
  display: none;
} */
/* .gKTQzt {
  margin: 0 0px !important;
} */
.rdt_Pagination {
  font-family: "Hanuman", sans-serif;
}
.dDupAJ {
  border: 1px solid #2f7447;
  border-radius: 4px;
}
.kMClau {
  color: #375883;
}
